/* Microsoft Internet Explorer Default */
.labelcell {
	clear: both;
	color: #444;
	float: left;
	font: 9pt Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin: 3px 0 0 0;
	padding: 3px 0 2px 4px;
	position: relative;
	text-align: right;
	width: 70px;
}

.contactInformationBox {
	bottom: 25px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 50%;
}

#licenseInformationBox {
	left: 0px;
	margin: 0 0 0 0;
	overflow: auto;
	padding: 4px 0 4px 0;
	position: absolute;
	height: 95%;
	top: 0px;
	width: 50%;
}

.licenseText {
	bottom: 4px;
	color: #222;
	font-size: 11px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	position: relative;
	height: 97%;
	top: 0px;
}

#licenseText {
	position: relative;
	overflow: auto;
	margin: 0 0 0 0;
	height: 97%;
	padding: 0px 4px 0px 4px;
}

#licenseTextWrapper {
	color: #222;
	font-size: 11px;
	height: 99%;
	margin: -5px 0 0 0;
	overflow: hidden;
	padding: 0px 0px 0px 0px;
	position: relative;
	top: 0;
	width: 100%;
}

#contactInformationDiv input, #contactInformationDiv select {
	background-color: #F8F8F8;
	color: #333;
	float: left;
	font: 9pt Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin: 3px 2px 0px 2px;
	padding: 3px 0px 2px 0px;
	position: relative;
}

#contactInformationDiv2 {
	border: 1px #99CCFF solid;
	position: relative;
	overflow: hidden;
	background-color: #D7E5F2;
	margin: 0px 4px 0px 4px;
	padding: 4px 4px 4px 4px;
}

#contactInformationDiv2 input, #contactInformationDiv2 select {
	background-color: #F8F8F8;
	color: #333;
	float: left;
	font: 9pt Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin: 3px 2px 0px 2px;
	padding: 3px 0px 2px 0px;
	position: relative;
}

.labelcell2 {
	clear: both;
	color: #444;
	float: left;
	font: 9pt Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin: 3px 0 0 0;
	padding: 3px 0 2px 4px;
	position: relative;
	width: 125px;
	text-align: right;
}

#licenseUpScroll, #licenseDownScroll {
	cursor: pointer;
	color: #000;
}

#contactInformationDiv {
	border: 1px #99CCFF solid;
	position: relative;
	overflow: hidden;
	background-color: #D7E5F2;
	margin: 0px 4px 0px 4px;
	padding: 4px 4px 4px 4px;
}

#userBirthMonth {
	width: 90px;
	position: relative;
	float: left;
}

#userBirthDay {
	width: 45px;
	position: relative;
	float: left;
}

#userBirthYear {
	width: 60px;
	position: relative;
	float: left;
}

#userGender {
	width: 75px;
	position: relative;
	float: left;
}

#userLicenseAgreementCheckBoxLabel {
	vertical-align: 2px;
}

#LicenseScrollArrowContainer {
	position: absolute;
	left: 0px;
	bottom: 0px;
	text-align: center;
	width: 50%;
	font-size: 14pt;
}

#contactInformationFieldset {
	width: 380px;
	position: absolute;
	right: 0px;
	bottom: 0px;
	top: 0px;
	margin: 8px 0 0 0;
	padding: 4px 0px 0px 0px;
	border-color: #AAA;
	border-width: 1px;
	border-style: solid;
	border-right: none;
	border-bottom: none;
}

#signup, #signup2 {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#signup_fieldset {
	width: 380px;
	position: absolute;
	right: 0px;
	height: 97%;
	top: 0px;
	margin: 0 0 0 0;
	padding: 8px 0px 0px 0px;
	border-color: #AAA;
	border-width: 1px;
	border-style: solid;
	border-right: none;
	border-bottom: none;
}

#signup2_fieldset {
	width: 380px;
	position: absolute;
	left: 0px;
	height: 98%;
	top: 0px;
	overflow: hidden;
	margin: 0 0 0 0;
	padding: 8px 0 0 0;
	border-color: #AAA;
	border-width: 1px;
	border-style: solid;
	border-right: none;
	border-top: none;
}

#signupbutton {
	position: relative;
	float: right;
	right: 0px;
	margin-top: 10px;
}

#confirmSignupDiv {
	position: relative;
	clear: both;
	width: 365px;
	font-size: 8pt;
	padding-top: 5px;
	margin-left: 4px;
	color: #222222;
	margin: 4px 4px 4px 4px;
	padding: 4px 4px 4px 4px;
}

#anon_p1 {
	margin-left: 20px;
}

#anon_p2 {
	margin-left: 20px;
	border: 1px #99CCFF solid;
	background: #D7E5F2
}

LEGEND {
	color: #0099E5;
}