#FridgeSortedList {
	position: relative;
	left: 0px;
	top: 0px;
	width: 100%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#FridgeSortedList>.fridgeLI {
	padding: 5px 5px 5px 5px;
	width: 100px;
}

.fridgeLI {
	width: 100%;
}