#ControlCenterModules {
	background-color: #FFF;
	margin: 0px 0px 0px 0px;
	overflow: hidden;
	padding: 0px 0px 0px 0px;
	position: absolute;
	top: 2px;
	left: 2px;
	/*<!--{"width: expression(((ignoreMe = document.getElementById('Left_Column_Right_Section').offsetWidth) - 4) + 'px');"}-->*/
	/*<!--{"height: expression(((ignoreMe = document.getElementById('Left_Column_Right_Section').offsetHeight) - 28) + 'px' );"}-->*/
}

#ControlCenterModules li {
	background-color: #eeeeff;
	height: 120px;
	margin: 0px auto 5px auto;
	overflow: hidden;
	position: relative;
	width: 135px;
}