/* CSS Document */
div#eGlooFridge {
    width: 700px;
}

div#eGlooFridge div#contentContainer {
    float: right;
    width: 80%;
}

div#eGlooFridge div#contextMenu {
    width: 20%;
    padding-top: 41px;
}

div#contentContainer ul#menuButtons {
    list-style: none;
    margin: 0;
    padding: 10px 0 0 0;
    text-align: center;
    background-color: transparent;
    height: 30px;
    /*<!--{"filter: alpha( opacity = 85 );"}-->*/
    /*<!--{"-moz-opacity: .85;"}-->*/
    opacity: .85;
    border-bottom: 1px solid #0066FF;
}

div#contentContainer ul#menuButtons li {
    display: inline;
    margin: 0;
    padding: 10px 35px;
    font: normal 12px verdana;
    color: #fff;
    cursor: pointer;
}

div#contentContainer ul#menuButtons li.on {
    color: #06f;
    font: bold 12px verdana;
}

div#contentContainer ul#menuButtons li.last {
    border: none;
}

div#contentContainer div#fridgeContent {
    padding: 10px;
    background-color: transparent;
    height: 330px;
    /*<!--{"filter: alpha( opacity = 85 );"}-->*/
    /*<!--{"-moz-opacity: .85;"}-->*/
    opacity: .85;
}

div#fridgeContent ul {
    list-style: none;
    margin: 10px 0;
    padding: 0;
}

div#fridgeContent ul li {
    display: inline;
    margin: 0;
    padding: 0 10px;
}

div#fridgeContent ul li img {
    border: 1px solid #85accb;
}

div#fridgeContent div.scrollable {
    overflow: auto;
    border-bottom: 1px solid #0066FF;
    height: 250px;
}
/* myCubes specific styles */
div#fridgeContent div.myCubes ul li {
    padding: 5px;
}

div#fridgeContent div.myCubes ul li img {
    width: 95px;
    border: none;
}

div#fridgeContent div.myCubes ul li input {
    vertical-align: top;
}
/* albumPics specific styles */
div#fridgeContent div.albumPics ul li {
    width: 40px;
    padding: 4px;
}
/* inbox specific styles */
div#fridgeContent div.inbox {
    clear: left;
    padding: 0;
}

div#fridgeContent div.inbox ul li {
    display: block;
    padding: 5px;
    border: none;
    background-color: #06f;
    border-bottom: 1px solid #03c;
    clear: left;
    height: 16px;
}

div#fridgeContent div.inbox ul li p, p.inner {
    float: left;
    display: block;
    margin: 0;
    padding: 3px;
    border: none;
    color: #fff;
    font: bold 10px verdana;
}

p.inner {
    padding: 0;
    width: 250px;
}

div#fridgeContent div.inbox ul li p b {
    color: #999;
    font-size: 9px;
}

div#fridgeContent div.inbox ul li input {
    float: left;
    display: block;
}

div#fridgeContent div.inbox ul li p strong {
    width: 90px;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
}
/* myPics specific styles */
div#fridgeContent div.myPics ul li {
    width: 60px;
    padding: 7px;
}

div#fridgeContent div.myPics ul li input {
    vertical-align: top;
}
/* myTunes specific styles */
div#fridgeContent div.myTunes {
    clear: left;
    padding: 0;
}

div#fridgeContent div.myTunes ul li {
    display: block;
    padding: 5px;
    border: none;
    background-color: #06f;
    border-bottom: 1px solid #03c;
    clear: left;
    height: 16px;
}

div#fridgeContent div.myTunes ul li p, p.inner {
    float: left;
    display: block;
    margin: 0;
    padding: 3px;
    border: none;
    width: 250px;
    color: #fff;
    font: normal 10px verdana;
}

p.inner {
    padding: 0;
}

div#fridgeContent div.myTunes ul li p b {
    color: #999;
    font-size: 9px;
}

div#fridgeContent div.myTunes ul li input {
    float: left;
    display: block;
}
/* albumVids specific styles */
div#fridgeContent div.albumVids ul li {
    padding: 5px;
}

div#fridgeContent div.albumVids ul li img {
    width: 90px;
    border: none;
}
/* myVids specific styles */
div#fridgeContent div.myVids ul li {
    padding: 5px;
}

div#fridgeContent div.myVids ul li img {
    width: 95px;
    border: none;
}

div#fridgeContent div.myVids ul li input {
    vertical-align: top;
}

div#contextButtons {
    padding-top: 6px;
    height: 65px;
}

div#contextButtons p {
    text-align: center;
    font: normal 10px verdana;
    color: #fff;
    padding: 0 5px;
    height: 65px;
}

div#contextButtons p img {
    border: none;
}

div#contextMenu div#contextOptions {
    overflow: auto;
    height: 350px;
    background-color: transparent;
    /*<!--{"filter: alpha( opacity = 85 );"}-->*/
    /*<!--{"-moz-opacity: .85;"}-->*/
    opacity: .85;
}

div#contextOptions ul {
    list-style: none;
    margin: 10px 0;
    padding: 0;
    text-align: center;
    font: normal 11px verdana;
    color: #fff;
}

div#contextOptions ul li {
    padding: 10px 0;
    cursor: pointer;
}

.left {
    float: left;
}

.right {
    float: right;
}