Left_Block_3 {
	margin: 0;
	padding: 0;
	color: #FFF;
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	top: 0px;
}

#Left_Column_Top {
	top: 0px;
	left: 0px;
	width: 179px;
	height: 46px;
	position: absolute;
	background-color: #FFFFFF;
}

#Left_Column_RepBar {
	top: 47px;
	left: 1px;
	width: 17px;
	bottom: 0px;
	background-color: #FFFFFF;
	position: absolute;
}

#Left_Column_Right_Section {
	background: #0D65AD;
	bottom: 30px;
	left: 0px;
	overflow: hidden;
	position: absolute;
	right: 0px;
	top: 87px;
}

#Left_Column_Fridge {
	background-color: #FFFFFF;
	bottom: 0px;
	left: 2px;
	right: 2px;
	overflow: hidden;
	position: absolute;
}

#LeftColumnTop {
	top: 47px;
	left: 0px;
	width: 179px;
	height: 40px;
	position: absolute;
	background-color: #0D65AD;
}

#LeftBottomControl {
	height: 32px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	position: absolute;
	background-color: #0D65AD;
	/*    border-top: 1px solid #99CCFF;*/
	font-size: 14pt;
	text-align: center;
}

#ControlCenterModules {
	background-color: #FFF;
	margin: 0px 0px 0px 0px;
	overflow: hidden;
	padding: 0px 0px 0px 0px;
	position: absolute;
	top: 2px;
	left: 2px;
	right: 2px;
	bottom: 20px;
}

#ControlCenterModules li {
	background-color: #eeeeff;
	height: 32%;
	margin: 5px auto 0px auto;
	overflow: hidden;
	position: relative;
	width: 90%;
}

#fridgeTab {
	background-color: #0D65AD;
	color: #FFF;
	/*    height:19px;
    padding:3px 0px 3px 12px;*/
}

#fridgeTray {
	background-color: #FFF;
	bottom: 0px;
	display: none;
	left: 2px;
	right: 2px;
	top: 19px;
	width: 100%;
}