#UserProfileContent {
	top: 0;
	left: 0;
	position: relative;
	width: 666px;
	clear: both;
}

#UserProfileControlStrip {
	position: relative;
	height: 48px;
	top: 0px;
	left: 0px;
	right: 0px;
	clear: both;
	margin: 0px 0px 0px 0px;
}

div.defaultProfileColumn {
	background-color: transparent;
	float: left;
	height: 100%;
	margin: 0px 0px 0px 9px;
	padding: 0px 0px 0px 0px;
	position: relative;
	top: 0px;
	width: 210px;
}

#unmov {
	float: left;
	position: relative;
	margin: 0px 0px 15px 0px;
	width: 210px;
	height: 250px;
	overflow: hidden;
	text-align: center;
	background-color: transparent;
	/*border: 1px solid transparent; */
}

#center1 {
	background-color: #DDD;
	clear: both;
	position: relative;
	top: 0px;
	width: 210px;
	height: 100%;
}

#center1 li {
	background-color: transparent;
	height: 150px;
	width: 210px;
	position: relative;
	overflow: hidden;
	padding: 4px 0px 18px 0px;
}

#center2 {
	background-color: transparent;
	position: relative;
	top: 0px;
	width: 210px;
	min-height: 350px;
}

#center2 li {
	background-color: transparent;
	height: 200px;
	position: relative;
	/*margin: 0px auto 10px auto;*/
	overflow: hidden;
	width: 210px;
	padding: 0px 0px 0px 0px;
}

#center3 {
	background-color: transparent;
	position: relative;
	top: 0px;
	width: 210px;
	min-height: 350px;
}

#center3 li {
	background-color: transparent;
	height: 150px;
	overflow: hidden;
	position: relative;
	width: 210px;
	padding: 4px 0px 18px 0px;
}

.liclass { /*background-color: transparent;*/
	height: 150px;
	overflow: hidden;
	width: 206px;
	position: absolute;
	padding: 0 0 0 12px;
}

.handle {
	cursor: move;
	height: 20px;
	position: absolute;
	top: 10px;
	left: 0px;
	right: 0px;
	background: #666;
	color: #eee;
	margin: 0 auto 0 auto;
	padding: 0 0 0 0;
}

.zerotop {
	top: 0px;
	position: relative;
}

.cubeContent {
	margin: 0 auto 0 auto;
	width: 206px;
	position: absolute;
	top: 30px;
	left: 0px;
	right: 0px;
	/*height:160px;*/
	overflow: hidden;
	background-color: #FFF;
	bottom: 10px;
}

.cubeCloseWidget {
	display: inline;
	width: 10px;
	right: 0px;
	position: relative;
}

.cubeCloseWidget:hover {
	cursor: pointer;
}

.transferer1 {
	border: 1px solid #000;
}

.transferer2 {
	border: 1px solid #BBEF68;
	background-color: #ffc;
}

.transferer3 {
	border-top: 2px solid #6CAF00;
	border-bottom: 2px solid #6CAF00;
	border-left: 5px dashed #6CAF00;
	border-right: 5px dashed #6CAF00;
}