[submodule "Library/Monolog"]
	path = Library/Monolog
	url = https://github.com/Seldaek/monolog.git
[submodule "Library/Imagine"]
	path = Library/Imagine
	url = https://github.com/avalanche123/Imagine.git
[submodule "Library/Assetic"]
	path = Library/Assetic
	url = https://github.com/kriswallsmith/assetic.git
[submodule "Library/Doctrine2DBAL"]
	path = Library/Doctrine2DBAL
	url = git://github.com/doctrine/dbal.git
[submodule "Library/Doctrine2ORM"]
	path = Library/Doctrine2ORM
	url = git://github.com/doctrine/doctrine2.git
