@CHARSET "UTF-8";

/* Ratings */
div.ratetip table.ranking {
	margin: 0 0 3px 3px;
	padding: 0;
	width: 200px;
	height: 20px;
	background: url(/images/ranking/stars-off.gif) top left no-repeat;
	position: absolute;
	z-index: 0;
}

div.ratetip table.star-rating {
	margin: 0 0 3px 3px;
	padding: 0;
	width: 200px;
	height: 20px;
	position: relative;
}

div.ratetip table.star-rating td {
	padding: 0;
	margin: 0;
	position: absolute;
}

div.ratetip table.star-rating td a {
	display: block;
	width: 20px;
	height: 20px;
	text-decoration: none;
	text-indent: -9000px;
	z-index: 20;
	position: absolute;
	padding: 0;
	margin: -2px 0 0 -6px;
}

div.ratetip table.star-rating td a:hover {
	background: url(/images/ranking/stars_rating.gif) left bottom;
	width: 20px;
	height: 20px;
	z-index: 1;
	padding: 0;
	margin: -2px 0 0 -6px;
}

div.ratetip table.star-rating td a.one-star {
	left: 4px;
}

div.ratetip table.star-rating td a.one-star:hover {
	width: 20px;
}

div.ratetip table.star-rating td a.two-stars {
	left: 24px;
}

div.ratetip table.star-rating td a.two-stars:hover {
	left: 4px;
	width: 40px;
}

div.ratetip table.star-rating td a.three-stars {
	left: 44px;
}

div.ratetip table.star-rating td a.three-stars:hover {
	left: 4px;
	width: 60px;
}

div.ratetip table.star-rating td a.four-stars {
	left: 64px;
}

div.ratetip table.star-rating td a.four-stars:hover {
	left: 4px;
	width: 80px;
}

div.ratetip table.star-rating td a.five-stars {
	left: 84px;
}

div.ratetip table.star-rating td a.five-stars:hover {
	left: 4px;
	width: 100px;
}

div.ratetip table.star-rating td a.six-stars {
	left: 104px;
}

div.ratetip table.star-rating td a.six-stars:hover {
	left: 4px;
	width: 120px;
}

div.ratetip table.star-rating td a.seven-stars {
	left: 124px;
}

div.ratetip table.star-rating td a.seven-stars:hover {
	left: 4px;
	width: 140px;
}

div.ratetip table.star-rating td a.eight-stars {
	left: 144px;
}

div.ratetip table.star-rating td a.eight-stars:hover {
	left: 4px;
	width: 160px;
}

div.ratetip table.star-rating td a.nine-stars {
	left: 164px;
}

div.ratetip table.star-rating td a.nine-stars:hover {
	left: 4px;
	width: 180px;
}

div.ratetip table.star-rating td a.ten-stars {
	left: 184px;
}

div.ratetip table.star-rating td a.ten-stars:hover {
	left: 4px;
	width: 200px;
}
