#UserProfileContent {
	top: 0px;
	left: 0px;
	bottom: 20px;
	position: relative;
	height: 0px;
	top: 0px;
	width: 1000px;
	clear: both;
}

#UserProfileControlStrip {
	position: relative;
	height: 48px;
	width: 985px;
	top: 0px;
	left: 0px;
	right: 0px;
	clear: both;
	margin: 0px 0px 0px 0px;
}

#UserProfileControlStrip > .clickable:hover {
	text-decoration: underline;
}

div.defaultProfileColumn {
	position: relative;
	float: left;
	width: 315px;
	margin: 0px 0px 0px 9px;
	padding: 0px 0px 0px 0px;
	min-height: 500px;
	top: 0px;
	background-color: transparent;
}

#UserProfileControlStripUserName {
	float: left;
	margin: 22px 10px 0 5px;
	color: #0099E5;
	font-size: 14pt;
}
/* new */
#UserProfileControlStripBlogs {
	float: right;
	margin: 27px 10px 0 10px;
	color: #0099E5;
}

#UserProfileControlStripPictures {
	float: right;
	margin: 27px 10px 0 10px;
	color: #0099E5;
}

#UserProfileControlStripVideos {
	float: right;
	margin: 27px 10px 0 10px;
	color: #0099E5;
}

#UserProfileControlStripMusic {
	float: right;
	margin: 27px 10px 0 10px;
	color: #0099E5;
}

#UserProfileControlStripProfile {
	float: right;
	margin: 27px 10px 0 10px;
	color: #0099E5;
}
/* end new */
.liclass {
	background-color: transparent;
	overflow: hidden;
	width: 206px;
	position: relative;
	padding: 0 0 0 12px;
}

.zerotop {
	top: 0px;
	position: relative;
}

.blhelper {
	border: 1px dashed #AAA;
	width: 100%;
}

.handleActive {
	background-color: #D8DFEA;
}

.handleInactive {
	background-color: #EEEEEE;
}

.clickable {
	cursor: pointer;
}


