.labelcell {
	clear: both;
	color: #444;
	float: left;
	font: 1em Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin: 3px 0 0 0;
	padding: 3px 0 2px 4px;
	position: relative;
	text-align: right;
	width: 70px;
}

.error {
	clear: both;
	color: #f00;
	display: none;
	font: 1em Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin: 0 0 2px 80px;
	padding: 0 0 0 0;
}

#userPreferredAccountNameError, #userRequestedAccountPasswordError, #userConfirmedAccountPasswordError {
	margin-left: 135px;
}

#referralCodeInputError {
	margin-left: 60px;
}

.licenseText {
	bottom: 4px;
	color: #222;
	font-size: 11px;
	margin: 0px 0px 0px 0px;
	padding: 4px 0px 5px 0px;
	position: absolute;
	top: 0px;
}

#licenseText {
	position: absolute;
	margin: 0 0 0 0;
	padding: 4px 4px 4px 4px;
	width: 345px;
}

#licenseTextWrapper {
	position: relative;
	top: 0px;
	bottom: 45px;
	width: 380px;
	height: 90%;
	overflow: auto;
	border: 1px #99CCFF solid;
	background-color: #D7E5F2;
	margin: 0px 4px 0px 4px;
	padding: 4px 0px;
}

#contactInformationDiv {
	border: 1px #99CCFF solid;
	position: relative;
	overflow: hidden;
	background-color: #D7E5F2;
	margin: 0px 4px 0px 4px;
	padding: 4px 4px 4px 4px;
}

#contactInformationDiv input, #contactInformationDiv select {
	background-color: #F8F8F8;
	color: #333;
	float: left;
	font: 1em Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin: 3px 2px 0px 2px;
	padding: 3px 0px 2px 0px;
	position: relative;
}

p.end {
	clear: both;
	margin: 0;
	padding: 0;
}

#contactInformationDiv2 {
	border: 1px #99CCFF solid;
	position: relative;
	overflow: hidden;
	background-color: #D7E5F2;
	margin: 5px 4px 0px 4px;
	padding: 4px 4px 4px 4px;
}

#contactInformationDiv2 input, #contactInformationDiv2 select {
	background-color: #F8F8F8;
	color: #333;
	float: left;
	font: 1em Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin: 3px 2px 0px 2px;
	padding: 3px 0px 2px 0px;
	position: relative;
}

.labelcell2 {
	clear: both;
	color: #444;
	float: left;
	font: 1em Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin: 3px 0 0 0;
	padding: 3px 0 2px 4px;
	position: relative;
	text-align: right;
	width: 125px;
}

#licenseUpScroll, #licenseDownScroll {
	cursor: pointer;
	color: #000;
}

#userBirthMonth {
	width: 90px;
	position: relative;
	float: left;
}

#userBirthDay {
	width: 45px;
	position: relative;
	float: left;
}

#userBirthYear {
	width: 60px;
	position: relative;
	float: left;
}

#userGender {
	width: 75px;
	position: relative;
	float: left;
}

#userAcceptsLicense {
	display: block;
	float: left;
}

#userLicenseAgreementCheckBoxLabel {
	display: block;
	margin: 4px 0 0 0;
	vertical-align: super;
}

#LicenseScrollArrowContainer {
	position: absolute;
	left: 0px;
	bottom: 0px;
	text-align: center;
	width: 50%;
	font-size: 14pt;
}

#contactInformationFieldset {
	width: 380px;
	position: absolute;
	right: 0px;
	bottom: 0px;
	top: 0px;
	margin: 8px 0 0 0;
	padding: 4px 0px 0px 0px;
	border-color: #AAA;
	border-width: 1px;
	border-style: solid;
	border-right: none;
	border-bottom: none;
}

#signup, #signup2 {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#signup_fieldset {
	width: 380px;
	height: 95%;
	position: absolute;
	right: 0px;
	bottom: 0px;
	top: 0px;
	margin: 8px 0 0 0;
	padding: 4px 0px 0px 0px;
	border-color: #AAA;
	border-width: 1px;
	border-style: solid;
	border-right: none;
	border-bottom: none;
}

#signup2_fieldset {
	width: 390px;
	height: 95%;
	position: absolute;
	left: 0px;
	bottom: 0px;
	top: 0px;
	overflow: hidden;
	margin: 8px 0 0 0;
	padding: 4px 0 0 0;
	border-color: #AAA;
	border-width: 1px;
	border-style: solid;
	border-right: none;
	border-top: none;
}

#signupbutton {
	position: relative;
	float: right;
	right: 0px;
	margin-top: 10px;
}

#confirmSignupDiv {
	position: relative;
	clear: both;
	width: 365px;
	font-size: 8pt;
	padding-top: 5px;
	margin-left: 4px;
	color: #222222;
	margin: 4px 4px 4px 4px;
	padding: 4px 4px 4px 4px;
}

#anon_p1 {
	margin-left: 20px;
}

#anon_p2 {
	margin-left: 40px;
	border: 1px #99CCFF solid;
	background: #D7E5F2;
	padding: 0 0 3px 0;
}

LEGEND {
	color: #0099E5;
}

#referralCodeInput {
	float: left;
	font: 8.5pt Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin-top: 10px;
	padding: 3px 0 2px 4px;
}

#referralCodeLabel {
	float: left;
	font: 8.5pt Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin-top: 10px;
	padding: 3px 0 2px 4px;
}

#login, #join, #about {
	cursor: pointer;
}

#expectedValues {
	background-color: #D5FFD2;
	border: solid 1px #090;
	clear: both;
	color: #000;
	display: none;
	font: normal 10px verdana;
	margin: 10px auto;
	padding: 4px;
	width: 300px;
}

span.error {
	clear: both;
	float: left;
}