#GlobalMenuBar_User_Fullname {
	color: #99CCFF;
	margin: 2px 5px 0px 0px;
	float: right;
	display: inline;
	text-decoration: none
}

#GlobalMenuBar_Options_Button {
	color: #FFF;
	margin: 2px 7px 0px 7px;
	float: right;
	display: inline
}

#GlobalMenuBar_Account_Button {
	color: #FFF;
	margin: 2px 7px 0px 7px;
	float: right;
	display: inline
}

#GlobalMenuBar_Logout_Button {
	color: #FFF;
	margin: 2px 5px 0px 7px;
	clear: both;
	float: right;
	display: inline;
}