/*Section contains all of the center section of the menu*/
#Center_1_Block {
	margin: 0;
	padding: 0;
	height: 475px;
	width: 900px;
	position: relative;
	overflow: hidden;
}
/*Header of the center block of the menu*/
#Menu_1_Header {
	clear: both;
	width: 900px;
	height: 0px;
	position: relative;
	background: #FFFFFF;
	overflow: hidden;
}

#Menu_1_Header12 {
	clear: both;
	position: relative;
	overflow: hidden;
	width: 835px;
	margin: 0px auto 0px auto;
	padding: 15px 0px 15px 0px;
}
/*Leftmost column of the center of the menu*/
#Center_Sub_Column1 {
	width: 25%;
	float: left;
	position: relative;
	padding: 5px 0px 5px 0px;
}
/*2nd column in the center of the menu*/
#Center_Sub_Column2 {
	width: 31%;
	float: right;
	position: relative;
	padding: 10px 0px 10px 0px;
}
/*3rd column in the center of the menu*/
#Center_Sub_Column3 {
	width: 31%;
	float: right;
	position: relative;
	padding: 10px 0px 10px 0px;
}
/*Rightmost column in the center of the menu*/
#Center_Sub_Column4 {
	width: 31%;
	position: relative;
	float: right;
	padding: 10px 0px 10px 0px;
}
/*Header in the center of the menu is broken into 4 pieces, this is the leftmost piece*/
#Menu_Header_Break1 {
	float: right;
	margin: 0px 25px 0px 25px;
	text-align: center;
	position: relative;
}
/*2nd piece of the menu header*/
#Menu_Header_Break2 {
	float: right;
	margin: 0px 25px 0px 25px;
	text-align: center;
	position: relative;
}
/*3rd piece of the menu header*/
#Menu_Header_Break3 {
	float: right;
	margin: 0px 25px 0px 25px;
	text-align: center;
	position: relative;
}
/*Rightmost and last piece of the menu header in the center of the search results menu*/
#Menu_Header_Break4 {
	float: right;
	margin: 0px 45px 0px 25px;
	text-align: center;
	position: relative;
}
/*The leftmost column in the center of the menu is broken into four pieces, this is the first piece from top to bottom*/
#Center_Sub_Column1_Break1 {
	left: 0px;
	height: 25%;
	position: relative;
}
/*Second piece in the left column in the center of the menu*/
#Center_Sub_Column1_Break2 {
	left: 0px;
	height: 25%;
	position: relative;
}
/*Third piece in the left column in the center of the menu*/
#Center_Sub_Column1_Break3 {
	left: 0px;
	height: 25%;
	position: relative;
}
/*Fourth piece in the left column in the menu of the menu*/
#Center_Sub_Column1_Break4 {
	left: 0px;
	height: 25%;
	position: relative;
}

.top30 {
	left: 0px;
	overflow: hidden;
	position: relative;
	height: 15px;
	padding: 5px 0px 5px 0px;
	clear: both;
}

.top30Number {
	position: relative;
	float: left;
	text-align: right;
	width: 35px;
}

.top30Value {
	position: relative;
	float: left;
	text-align: right;
	padding: 0px 0px 0px 10px;
}

a:link, a:visited, a:active {
	/*<!--{"-moz-outline: none;"}-->*/
}
