/* Frame */

div.userProfileCubeDragDropSort {
    border:1px solid #D8DFEA;    
}

div.dragDropHandle {
    height:20px;
    position:relative;
}

div.userProfileCubeTitle {
    background:transparent;
    float:left;
    margin:3px 0 0 5px;
    position:relative;
}

div.userProfileCubeCloseTrigger {
    background:transparent;
    float:right;
    margin:2px 5px 0 5px;
    position:relative;
}

div.userProfileCubeMinimizeTrigger {
    background:transparent;
    float:right;
    margin:2px 5px 0 5px;
    position:relative;
}

div.userProfileCubeEditTrigger {
    background:transparent;
    float:right;
    margin:3px 5px 0 5px;
    position:relative;
}

div.userProfileCubeContent {
    clear:both;
    height:280px;
    position:relative;
    background-position: right; 
}


body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    overflow:auto;
}

#logo {
    font-size:24pt;
    font-weight:bold;
    height:39px;
    letter-spacing:-3px;
    margin: 0 0 0 0;
    padding-left:22px;
    padding-right:8px;
    position: absolute;
    text-shadow: 0 0 0.15em #FFFFFF;
    top:20px;
    width:100px;
}

div.globalMenuButton {
    color: #FFFFFF;
    float: left;
    font-size: 15pt;
    height: 34px;
    margin: 0 0px 0 0px;
    padding: 0 0px 0 0px;
    position: relative;
    top: 0px;
    z-index:22;
}

div.globalMenuButton:hover {
    cursor: pointer;
    text-shadow: 0 0 0.25em #FFFFFF;
}

#content {
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    margin: 0 0 0 0;
    padding: 0;
}
    
#dropdown {
    background-color: #181F17;
    color:#FFFFFF;
    height: 500px;
    display:none;
    left: 50%;
    margin: 0px auto auto -475px; /* standard centering method */
    width: 950px;
    overflow: hidden;
    position: absolute;
    top: 50px;
    z-index:10;
}

#informationBoardForeground {
    background-color: transparent;
    color:#FFFFFF;
	cursor:default;
    height: 450px;
    display:none;
    left: 50%;
    margin: 0px auto auto -450px; /* standard centering method */
    width: 900px;
    overflow: hidden;
    position: absolute;
    top: 50px;
    z-index:11;
}

div.globalMenu {
    background-color: #181F17;
    width: 100%;
    height: 50px;
    position: absolute;
    overflow: hidden;
    z-index:10;
    display: block;
    padding: 0px;
    margin: 0 0 0 0;
    border-width: 0;
}

#globalMenuMiddle {
    position: absolute;
    top: 0px;
    right: 50%;
    margin: 0 -370px 0 0px;
    width: 120px;
    z-index:10;
}

span.oo {
    letter-spacing:-11px;
}

#globalMenuLeft {
    position: absolute;
    top: 0px;
    right: 50%;
    margin: 0px -250px 0px 0px;
    width: 750px;
    z-index:10;
    float: left;
}

#globalMenuRight {
    position: absolute;
    top: 0px;
    left: 50%;
    margin: 0px 0px 0px 20px;
    width: 480px;
    z-index:10;
}

div.menuSearchItem {
    position: absolute;
    top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
    float: left;
    right: 0%;
    color: #FFFFFF;
}

#UserProfile {
    background-color: #FFFFFF;
    position: absolute;
    top: 50px;
    bottom: 0px;
    left: 50%;
    margin: 0px 0px 0px -333px;
	margin-left: -500px;
    width: 1000px;
    z-index:0;
    overflow: auto; /* should be auto, hidden for testing */
    overflow-x:hidden;
	background-image: url("/images/eGlooSnowBackground.jpg");
	/*<!--{"height:expression(((ignoreMe = document.documentElement.clientHeight) - 50) + 'px');"}-->*/
}

#leftbar {
    background-color:transparent;
    bottom: 0px;
    margin: 0 334px 0 0px;
    overflow: auto;
    position: absolute;
    right: 50%;
    top: 34px;
    width: 179px;
    z-index: 0;
}

#rightbar {
    background-color:transparent;
    bottom: 0px;
    left: 50%;
    margin: 0 0 0 333px;
    width:179px;
    overflow: auto;
    position: absolute;
    top: 34px;
    z-index: 0;
}

#cubeEditZone {
    background-color:#FFF;
    border: 2px solid #000;
    display:none;
    height:375px;
    left:50%;
    margin:150px 0 0 -200px;
    overflow:hidden;
    position:absolute;
    width:400px;
}

#eGlooApplicationState {
    display:none;    
}

div.footer {
    margin: 55px auto 0 auto;
    left:0%;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size:10px;
    color:#999999;
    position:relative;
    width:250px;
    height:20px;
    padding-top: 20px;
    clear: both;
    z-index:50;    
}

#copyright {
    margin: 55px auto 0 auto;
    left:0%;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size:10px;
    color:#999999;
    position:relative;
    width:250px;
    height:20px;
    padding-top: 20px;
    clear: both;
    z-index:50;    
}

#footer {
    bottom:0;
    height:15px;
    left:50%;
	font-size:11px;
    margin:0px 0 0 -225px;
    position:relative;
    text-align:center;
    width:450px;
}

span.spantext2 {
	color:#CCC;
    padding: 0px 3px 0px 3px;
}

.footer_option {
    color:#0099E5;
}

div.menuLeftNavBar {
    background-color: #DDDDDD;
    min-width: 120px;
    width: 120px;
    height: 200px;
    float: left;
    position: relative;
    z-index:1000000;
    overflow: hidden;
    display: block;
}

div.button {
    position:relative;
    float:right;
    padding: 0px 0px 0px 0px;
    color:#FFFFFF;
}

span.button {
    color: #FFF;
}

div.button:hover {
    cursor: pointer;
    text-decoration: underline;
}

div.nohover:hover {
    cursor: default;
    text-decoration: none;
}

span.spantext {
    float:right;
    padding: 0px 0px 0px 0px;
    color:#FFFFFF;
}

.clickable {
    cursor:pointer;
}

.moveable {
    cursor:move;
}

/* Props */

.fs12 {
    font-size:12pt;
}

.fs11 { 
    font-size:11pt;
}

/* Ratings */

div.ratetip table.ranking { margin:0 0 3px 3px; padding:0; width:200px; height:20px; background:url(/images/ranking/stars-off.gif) top left no-repeat; position:absolute; z-index:0; }

div.ratetip table.star-rating { margin:0 0 3px 3px; padding:0; width:200px; height:20px; position:relative; }
div.ratetip table.star-rating td { padding:0; margin:0; position:absolute; }
div.ratetip table.star-rating td a { display:block; width:20px; height:20px; text-decoration:none; text-indent:-9000px; z-index:20; position:absolute; padding:0; margin:-2px 0 0 -6px; }
div.ratetip table.star-rating td a:hover { background:url(/images/ranking/stars_rating.gif) left bottom; width:20px; height:20px; z-index:1; padding:0; margin:-2px 0 0 -6px; }
div.ratetip table.star-rating td a.one-star{ left:4px; }
div.ratetip table.star-rating td a.one-star:hover{ width:20px; }
div.ratetip table.star-rating td a.two-stars{ left:24px; }
div.ratetip table.star-rating td a.two-stars:hover{ left:4px; width:40px; }
div.ratetip table.star-rating td a.three-stars{ left:44px; }
div.ratetip table.star-rating td a.three-stars:hover{ left:4px; width:60px; }
div.ratetip table.star-rating td a.four-stars{ left:64px; }	
div.ratetip table.star-rating td a.four-stars:hover{ left:4px; width:80px; }
div.ratetip table.star-rating td a.five-stars{ left:84px; }
div.ratetip table.star-rating td a.five-stars:hover{ left:4px; width:100px; }
div.ratetip table.star-rating td a.six-stars{ left:104px; }
div.ratetip table.star-rating td a.six-stars:hover{ left:4px; width:120px; }
div.ratetip table.star-rating td a.seven-stars{ left:124px; }
div.ratetip table.star-rating td a.seven-stars:hover{ left:4px; width:140px; }
div.ratetip table.star-rating td a.eight-stars{ left:144px; }
div.ratetip table.star-rating td a.eight-stars:hover{ left:4px; width:160px; }
div.ratetip table.star-rating td a.nine-stars{ left:164px; }
div.ratetip table.star-rating td a.nine-stars:hover{ left:4px; width:180px; }
div.ratetip table.star-rating td a.ten-stars{ left:184px; }
div.ratetip table.star-rating td a.ten-stars:hover{ left:4px; width:200px; }
