.fisheye {
	text-align: center;
	height: 50px;
	position: absolute;
	left: 50%;
	margin-left: -480px;
	width: 500px;
	z-index: 20;
}

a.fisheyeItem {
	text-align: center;
	font-size: 10pt;
	/*color: #0099E5;*/
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
	width: 40px;
	position: absolute;
	margin: 0 10px 5px auto;
	display: block;
	top: 5px;
}

.fisheyeItem img {
	border: none;
	margin: 0px auto 5px;
	width: 100%;
}

.fisheyeItem span {
	background-color: #181F17;
	display: none;
}

.fisheyeContainer {
	height: 50px;
	width: 200px;
	left: 500px;
	position: absolute;
}

