# Sample .htaccess file for eGloo applications

# Deployment Type
# SetEnv EG_ENV PRODUCTION
# SetEnv EG_ENV STAGING
SetEnv EG_ENV DEVELOPMENT

# Application / Bundle Selection
SetEnv EG_APP eGloo/Default.gloo
SetEnv EG_UI  OverlayInterface
# SetEnv EG_UI  Default
# SetEnv EG_APP Demos/PetFood
# SetEnv EG_UI Default
# SetEnv EG_APP Demos/BookResale
# SetEnv EG_UI Default
# SetEnv EG_APP Demos/DogOwners
# SetEnv EG_UI Default
# SetEnv EG_APP Demos/ImageHosting
# SetEnv EG_UI Default

# Caching
SetEnv EG_CACHE ON
SetEnv EG_CACHE_APC OFF
SetEnv EG_CACHE_FILE OFF
SetEnv EG_CACHE_MEMCACHE ON

# Database Engine
SetEnv EG_DB_ENGINE POSTGRESQL
# SetEnv EG_DB_ENGINE MYSQL

# Errors
SetEnv EG_DISPLAY_ERRORS ON
SetEnv EG_DISPLAY_TRACES ON

# Logging
# SetEnv EG_LOG_LEVEL PRODUCTION
# SetEnv EG_LOG_LEVEL STAGING
SetEnv EG_LOG_LEVEL DEVELOPMENT
SetEnv EG_LOG_FORMAT LOG

SetEnv EG_REWRITE_BASE /egloo

# Rewrite Rules
<IfModule rewrite_module> 
RewriteEngine on 

# Modify the RewriteBase if you are using eGloo in a subdirectory
RewriteBase /egloo

# No rule for images that exist in the webroot
RewriteCond %{REQUEST_FILENAME} ^images/.*\.gif [OR]
RewriteCond %{REQUEST_FILENAME} ^images/.*\.GIF [OR]
RewriteCond %{REQUEST_FILENAME} ^images/.*\.png [OR]
RewriteCond %{REQUEST_FILENAME} ^images/.*\.PNG [OR]
RewriteCond %{REQUEST_FILENAME} ^images/.*\.jpg [OR]
RewriteCond %{REQUEST_FILENAME} ^images/.*\.JPG [OR]
RewriteCond %{REQUEST_FILENAME} ^images/.*\.jpeg [OR]
RewriteCond %{REQUEST_FILENAME} ^images/.*\.JPEG [OR]
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^images/(.*(.gif|.GIF|.png|.PNG|.jpg|.JPG|.jpeg|.JPEG))$ - [L]

# But we might have images referenced here in the applications bundle
RewriteCond %{REQUEST_FILENAME} ^images/.*\.gif [OR]
RewriteCond %{REQUEST_FILENAME} ^images/.*\.GIF [OR]
RewriteCond %{REQUEST_FILENAME} ^images/.*\.png [OR]
RewriteCond %{REQUEST_FILENAME} ^images/.*\.PNG [OR]
RewriteCond %{REQUEST_FILENAME} ^images/.*\.jpg [OR]
RewriteCond %{REQUEST_FILENAME} ^images/.*\.JPG [OR]
RewriteCond %{REQUEST_FILENAME} ^images/.*\.jpeg [OR]
RewriteCond %{REQUEST_FILENAME} ^images/.*\.JPEG [OR]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^images/(.*(.gif|.GIF|.png|.PNG|.jpg|.JPG|.jpeg|.JPEG))$ index.php?eg_requestClass=image&eg_requestID=rawfile&image_name=$1 [L]

# Load 'static' css as dynamic css
RewriteRule ^css/([a-zA-Z0-9]+)\.css$ index.php?eg_requestClass=css&eg_requestID=$1 [L]

# Load 'static' javascript as dynamic javascript
RewriteRule ^(js|javascript)/(.+)\.js$ index.php?eg_requestClass=javascript&eg_requestID=$2 [L]

# Redirect anything two level deep to a class & id query
# Pass the remainder as the arguments to that RequestClass / RequestID Pair
# Make sure the argument list is clean -- allow alphanumerics, dot (.), dash (-)
# underscore (_) and ampersand (&).  Anything else should cascade down to the
# last rule
RewriteRule ^([a-zA-Z0-9]+)/([a-zA-Z0-9]+)$ index.php?eg_requestClass=$1&eg_requestID=$2 [L]
RewriteRule ^([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/([a-zA-Z0-9\.\-\_\=\&]*)$ index.php?eg_requestClass=$1&eg_requestID=$2&$3 [L]
RewriteRule ^$ index.php?eg_requestClass=externalMainPage&eg_requestID=extMainViewBase [L]

# The only script we allow direct access to
# NOTE: Required so that the last rule does not block us on previous redirects
RewriteRule ^index.php$ - [L]

# Forbid anything that doesn't fit one of the preceding patterns
# Should redirect to 404.  Currently redirects to /
RewriteRule ^.*$ - [F]
</IfModule>
