# Sample .htaccess file for eGloo applications

# Deployment Type
# SetEnv EG_ENV PRODUCTION
# SetEnv EG_ENV STAGING
SetEnv EG_ENV DEVELOPMENT

# Application / Bundle Selection
SetEnv EG_APP eGloo/Default.gloo
SetEnv EG_UI  OverlayInterface

# Caching
SetEnv EG_CACHE ON
SetEnv EG_CACHE_APC OFF
SetEnv EG_CACHE_FILE OFF
SetEnv EG_CACHE_MEMCACHE ON
SetEnv EG_CACHE_RUNTIME OFF

# Database Engine
SetEnv EG_DB_ENGINE POSTGRESQL
# SetEnv EG_DB_ENGINE MYSQL

# Errors
SetEnv EG_DISPLAY_ERRORS ON
SetEnv EG_DISPLAY_TRACES ON

# Logging
# SetEnv EG_LOG_LEVEL PRODUCTION
# SetEnv EG_LOG_LEVEL STAGING
SetEnv EG_LOG_LEVEL DEVELOPMENT
SetEnv EG_LOG_FORMAT LOG

# Sanity Checking
SetEnv EG_SANITY_CHECK_CLASS_LOADING ON

# Rewrite Rules
<IfModule rewrite_module> 
RewriteEngine on

# Modify the RewriteBase if you are using eGloo in a subdirectory
RewriteBase /

# The only script we allow direct access to
# NOTE: Required so that the last rule does not block us on previous redirects
RewriteRule ^index.php$ - [L]

# No rule for css that exist in the webroot
# RewriteCond %{REQUEST_URI} ^/egloo/css/.*\.css$ [NC]
RewriteCond %{REQUEST_URI} css/.*\.css$ [NC]
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^css/(.*\.css)$ - [L]

# But we might have css referenced here in the applications bundle
# RewriteCond %{REQUEST_URI} ^/egloo/css/.*\.css [NC]
RewriteCond %{REQUEST_URI} css/.*\.css [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^css/(.*)\.css$ index.php?eg_requestClass=css&eg_requestID=rawfile&css_name=$1 [L]

# No rule for javascript that exists in the webroot
# RewriteCond %{REQUEST_URI} ^/egloo/(js|javascript)/.*\.js$ [NC]
RewriteCond %{REQUEST_URI} (js|javascript)/.*\.js$ [NC]
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^(js|javascript)/(.*\.js)$ - [L]

# But we might have css referenced here in the applications bundle
# RewriteCond %{REQUEST_URI} ^/egloo/(js|javascript)/.*\.js [NC]
RewriteCond %{REQUEST_URI} (js|javascript)/.*\.js [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(js|javascript)/(.*)\.js$ index.php?eg_requestClass=javascript&eg_requestID=rawfile&javascript_name=$2 [L]

# No rule for files that exist in the webroot
# RewriteCond %{REQUEST_URI} ^/egloo/files/.*\.[a-z0-9]+ [NC]
RewriteCond %{REQUEST_URI} files/.*\.[a-z0-9]+ [NC]
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^files/(.*\.[a-z0-9]+)$ - [L]

# But we might have files referenced here in the applications bundle
# RewriteCond %{REQUEST_URI} ^/egloo/files/.*\.[a-z0-9]+ [NC]
RewriteCond %{REQUEST_URI} files/.*\.[a-z0-9]+ [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^files/(.*\.[a-z0-9]+)$ index.php?eg_requestClass=file&eg_requestID=rawfile&file_name=$1 [L]

# No rule for images that exist in the webroot
# RewriteCond %{REQUEST_URI} ^/egloo/images/.*(.gif|.png|.jpg|.jpeg)$ [NC]
RewriteCond %{REQUEST_URI} images/.*(.gif|.png|.jpg|.jpeg)$ [NC]
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^images/(.*(.gif|.png|.jpg|.jpeg))$ - [L]

# But we might have images referenced here in the applications bundle
# RewriteCond %{REQUEST_URI} ^/egloo/images/.*(.gif|.png|.jpg|.jpeg) [NC]
RewriteCond %{REQUEST_URI} images/.*(.gif|.png|.jpg|.jpeg) [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^images/(.*(.gif|.png|.jpg|.jpeg))$ index.php?eg_requestClass=image&eg_requestID=rawfile&image_name=$1 [L]

# No rule for media files that exist in the webroot
# RewriteCond %{REQUEST_URI} ^/egloo/media/.*(.aac|.dcr|.flv|.mov|.mpg|.mp3|.mp4|.ogg|.swf|.wma|.wmv)$ [NC]
RewriteCond %{REQUEST_URI} media/.*(.aac|.dcr|.flv|.mov|.mpg|.mp3|.mp4|.ogg|.swf|.wma|.wmv)$ [NC]
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^media/(.*(.aac|.dcr|.flv|.mov|.mpg|.mp3|.mp4|.ogg|.swf|.wma|.wmv))$ - [L]

# But we might have files referenced here in the applications bundle
# RewriteCond %{REQUEST_URI} ^/egloo/media/.*(.aac|.dcr|.flv|.mov|.mpg|.mp3|.mp4|.ogg|.swf|.wma|.wmv)$ [NC]
RewriteCond %{REQUEST_URI} media/.*(.aac|.dcr|.flv|.mov|.mpg|.mp3|.mp4|.ogg|.swf|.wma|.wmv)$ [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^media/(.*(.aac|.dcr|.flv|.mov|.mpg|.mp3|.mp4|.ogg|.swf|.wma|.wmv))$ index.php?eg_requestClass=media&eg_requestID=rawfile&media_name=$1 [L]

# Redirect anything two level deep to a class & id query
# Pass the remainder as the arguments to that RequestClass / RequestID Pair
# Make sure the argument list is clean -- allow alphanumerics, dot (.), dash (-)
# underscore (_) and ampersand (&).  Anything else should cascade down to the
# last rule
RewriteRule ^([a-zA-Z0-9]+)/([a-zA-Z0-9]+)$ index.php?eg_requestClass=$1&eg_requestID=$2&%{QUERY_STRING} [L]
RewriteRule ^([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/([a-zA-Z0-9\.\-\_\=\&\ ]*)$ index.php?eg_requestClass=$1&eg_requestID=$2&$3%{QUERY_STRING} [L]
RewriteRule ^([a-zA-Z0-9]+)/?$ index.php?eg_requestClass=$1&eg_requestID=index&%{QUERY_STRING} [L]
RewriteRule ^$ index.php?eg_requestClass=externalMainPage&eg_requestID=extMainViewBase [L]

# Forbid anything that doesn't fit one of the preceding patterns
# Should redirect to 404.  Currently redirects to /
RewriteRule ^.*$ - [F]
</IfModule>
