<?xml version="1.0" encoding="UTF-8"?>
<eglooCube:Cube xmlns:eglooCube="com.egloo.eGloo.Cube"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="com.egloo.eGloo.Cube ../../../xml/schemas/CubeFresh.xsd "
    CubeID="com.egloo.eGlooCubes.ProfileManager" CubeName="Profile Manager" Version="1.0.0">
</eglooCube:Cube>
